In [1]:
# 1.Create a pandas DataFrame from the CSV 
import pandas as pd 
# Utilized sales data of 1000 records.
df=pd.read_csv('./sales_sample.csv')
# Display 1st 5 records and shape of DataFrame
print(df.head())
print('Shape',df.shape)

   transaction_id  store_id store_name        date  product_id product_name  \
0            1001         2     Suburb  2025-10-20         506  Highlighter
1            1002         3    Airport  2025-10-18         501     Notebook
2            1003         1   Downtown  2025-10-21         505       Marker
3            1004         1   Downtown  2025-10-07         503      Stapler
4            1005         2     Suburb  2025-10-04         503      Stapler

   quantity  unit_price  total  customer_id promo_code
0         6        0.90   5.40         2005     DISC10
1        10        3.50  35.00         2091      DISC5
2         8        1.75  14.00         2023     DISC10
3         4        5.25  21.00         2033        NaN
4         1        5.25   5.25         2045        NaN
Shape (1000, 11)

In [2]:
# Create a pandas DataFrame from Python lists/dicts.
data = {
    "store_id": [1, 2, 3],
    "store_name": ["Downtown", "Suburb", "Airport"],
    "sales": [250, 300, 150]
}

df2 = pd.DataFrame(data)
print(df2)
print('Shape',df2.shape)

   store_id store_name  sales
0         1   Downtown    250
1         2     Suburb    300
2         3    Airport    150
Shape (3, 3)

In [3]:
# 2.Filter and subset rows/columns (e.g., sales for a store, date ranges, high-value transactions).

# store based filtering
print("--STORE FILTERED DATA--")    
store_data = df[df['store_name'] == 'Airport']
print(store_data.head())

# ensuring 'date' is datetime so comparisons work
df['date'] = pd.to_datetime(df['date'])

# date range filtering
print("--DATE FILTERED DATA--")
date_filtered = df[(df['date'] > '2025-01-15') & (df['date'] < '2025-10-31')]
print(date_filtered.head())

--STORE FILTERED DATA--
    transaction_id  store_id store_name        date  product_id product_name  \
1             1002         3    Airport  2025-10-18         501     Notebook
5             1006         3    Airport  2025-10-23         501     Notebook
6             1007         3    Airport  2025-10-03         501     Notebook
11            1012         3    Airport  2025-10-13         506  Highlighter
18            1019         3    Airport  2025-10-30         502          Pen

    quantity  unit_price  total  customer_id promo_code
1         10         3.5   35.0         2091      DISC5
5          4         3.5   14.0         2000     DISC10
6         10         3.5   35.0         2084      DISC5
11         7         0.9    6.3         2070      DISC5
18         4         0.8    3.2         2044        NaN
--DATE FILTERED DATA--
   transaction_id  store_id store_name       date  product_id product_name  \
0            1001         2     Suburb 2025-10-20         506  Highlighter
1            1002         3    Airport 2025-10-18         501     Notebook
2            1003         1   Downtown 2025-10-21         505       Marker
3            1004         1   Downtown 2025-10-07         503      Stapler
4            1005         2     Suburb 2025-10-04         503      Stapler

   quantity  unit_price  total  customer_id promo_code
0         6        0.90   5.40         2005     DISC10
1        10        3.50  35.00         2091      DISC5
2         8        1.75  14.00         2023     DISC10
3         4        5.25  21.00         2033        NaN
4         1        5.25   5.25         2045        NaN

In [4]:
# high value transactions (example threshold)
print("--HIGHEST TRANSACTIONS--")
high_value = df[df['total'] > 50]
print(high_value.head())

--HIGHEST TRANSACTIONS--
     transaction_id  store_id store_name       date  product_id product_name  \
19             1020         1   Downtown 2025-10-12         503      Stapler
44             1045         2     Suburb 2025-10-02         503      Stapler
101            1102         2     Suburb 2025-10-11         503      Stapler
171            1172         3    Airport 2025-10-18         503      Stapler
216            1217         1   Downtown 2025-10-13         503      Stapler

     quantity  unit_price  total  customer_id promo_code
19         10        5.25   52.5         2061     DISC10
44         10        5.25   52.5         2018        NaN
101        10        5.25   52.5         2077        NaN
171        10        5.25   52.5         2025     DISC10
216        10        5.25   52.5         2060      DISC5

In [5]:
# 3.Compute descriptive statistics
#  and group summaries (totals by store, average basket).
# total sales by store
print("--TOTAL SALES BY STORE--")
salesbystore=df.groupby('store_name')['total'].sum()
print(salesbystore)
# average basket size
print("--AVERAGE BASKET SIZE--")
average_basket=df['total'].mean()
print(average_basket)
# maximum transaction value
print("--MAXIMUM TRANSACTION VALUE--")
max_transaction=df['total'].max()
print(max_transaction)

--TOTAL SALES BY STORE--
store_name
Airport     4329.90
Downtown    4093.40
Suburb      3642.85
Name: total, dtype: float64
--AVERAGE BASKET SIZE--
12.066150000000002
--MAXIMUM TRANSACTION VALUE--
52.5

In [6]:
# 4.Perform simple cleaning 
# (handle missing values, fix data types, drop duplicates).
# check for missing values
print("--MISSING VALUES--")
missing_values=df.isnull().sum()
print(missing_values)
# fill promocode with 'NO_PROMO'
df.fillna({'promo_code':'NO_PROMO'}, inplace=True)

# Fix data types
df['store_id']=df['store_id'].astype('int')
# Convert date column to datetime
df["date"] = pd.to_datetime(df["date"])

# Drop duplicates
df.drop_duplicates(inplace=True)
print("--DATA AFTER CLEANING--")    
print(df)

--MISSING VALUES--
transaction_id      0
store_id            0
store_name          0
date                0
product_id          0
product_name        0
quantity            0
unit_price          0
total               0
customer_id         0
promo_code        329
dtype: int64
--DATA AFTER CLEANING--
     transaction_id  store_id store_name       date  product_id product_name  \
0              1001         2     Suburb 2025-10-20         506  Highlighter
1              1002         3    Airport 2025-10-18         501     Notebook
2              1003         1   Downtown 2025-10-21         505       Marker
3              1004         1   Downtown 2025-10-07         503      Stapler
4              1005         2     Suburb 2025-10-04         503      Stapler
..              ...       ...        ...        ...         ...          ...
995            1996         1   Downtown 2025-10-27         504       Folder
996            1997         3    Airport 2025-10-29         503      Stapler
997            1998         1   Downtown 2025-10-18         501     Notebook
998            1999         3    Airport 2025-10-24         506  Highlighter
999            2000         2     Suburb 2025-10-16         505       Marker

     quantity  unit_price  total  customer_id promo_code
0           6        0.90   5.40         2005     DISC10
1          10        3.50  35.00         2091      DISC5
2           8        1.75  14.00         2023     DISC10
3           4        5.25  21.00         2033   NO_PROMO
4           1        5.25   5.25         2045   NO_PROMO
..        ...         ...    ...          ...        ...
995         3        1.20   3.60         2017   NO_PROMO
996         6        5.25  31.50         2076      DISC5
997         4        3.50  14.00         2082   NO_PROMO
998        10        0.90   9.00         2062   NO_PROMO
999         2        1.75   3.50         2074     DISC10

[1000 rows x 11 columns]

In [7]:
# validating cleaning steps
print(df.isnull().sum())

transaction_id    0
store_id          0
store_name        0
date              0
product_id        0
product_name      0
quantity          0
unit_price        0
total             0
customer_id       0
promo_code        0
dtype: int64

In [9]:
# 5.Convert into an ETL pipeline function
def etl_pipeline(input_csv, output_json):
    # Extract
    df = pd.read_csv(input_csv)
    
    # Transform
    df["date"] = pd.to_datetime(df["date"])
    df.drop_duplicates(inplace=True)
    df.fillna({"promo_code":""}, inplace=True)
    df["total"] = df["quantity"] * df["unit_price"]

    # Apply discount
    def apply_discount(row):
        if row["promo_code"] == "DISC5":
            return round(row["total"] * 0.95, 2)
        elif row["promo_code"] == "DISC10":
            return round(row["total"] * 0.90, 2)
        else:
            return row["total"]

    df["discounted_total"] = df.apply(apply_discount, axis=1)
    df['profit']=df['discounted_total']*0.2

    # Load
    df.to_json(output_json, orient="records", lines=True)
    print("ETL pipeline complete")
etl_pipeline("./sales_sample.csv", "cleaned_sales.json")

ETL pipeline complete

6.Complete a short hands-on test and an assignment to extend the pipeline.

In [10]:

import pandas as pd

def extended_etl_pipeline(input_csv, output_json, summary_json, high_value_json):

    # Extract 
    df = pd.read_csv(input_csv)

    # Transform
    df["date"] = pd.to_datetime(df["date"])
    df.drop_duplicates(inplace=True)
    df.fillna({"promo_code": ""}, inplace=True)
    df["total"] = df["quantity"] * df["unit_price"]

    # Apply discount
    def apply_discount(row):
        if row["promo_code"] == "DISC5":
            return round(row["total"] * 0.95, 2)
        elif row["promo_code"] == "DISC10":
            return round(row["total"] * 0.90, 2)
        else:
            return row["total"]

    df["discounted_total"] = df.apply(apply_discount, axis=1)
    df["profit"] = df["discounted_total"] * 0.20

    # New Transformation 1: Category column
    df["category"] = df["discounted_total"].apply(
        lambda x: "High" if x > 500 else "Low"
    )

    #  New Transformation 2: Group Summaries
    summary = df.groupby("store_id")[["discounted_total", "profit"]].agg({
        "discounted_total": "sum",
        "profit": "mean"
    }).reset_index()

    #  New Transformation 3: Filter High-Value Transactions
    high_value_df = df[df["discounted_total"] > 1000]

    #  Load 
    df.to_json(output_json, orient="records", lines=True)
    summary.to_json(summary_json, orient="records", lines=True)
    high_value_df.to_json(high_value_json, orient="records", lines=True)

    print("Extended ETL pipeline complete!")

# Run the extended pipeline
extended_etl_pipeline(
    "./sales_sample.csv",
    "cleaned_sales1.json",
    "store_summary.json",
    "high_value_sales.json"
)

Extended ETL pipeline complete!